.footerWrapper{
    height: 70vh;
    width: 101vw;
    background: url("../images/starryNight.jpeg");
    background-size: cover;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    word-spacing: 1vw;
    letter-spacing: -0.5vw;
}