body{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    /* display: none; */
}
.customTextHeading{
    font-weight: bolder;
    letter-spacing: -0.5vw;
    word-spacing: 1vw;
}
.momentum23Video{
    height: 123vh;
}
nav{
    z-index: 3;
}
a{
    color: white;
    text-decoration: none;
}